1- RAG AI Agent/RAG AI Agent.json
{
  "name": "RAGagentn8n",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -544,
        -384
      ],
      "id": "3dd64f6c-df85-43b8-bffa-cc79f3b57696",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "15oqvRTlEjL5eEp9KHKRpfmSOg_s2-1Xo",
          "mode": "list",
          "cachedResultName": "2024_Annual_Report.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/15oqvRTlEjL5eEp9KHKRpfmSOg_s2-1Xo/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -864,
        -80
      ],
      "id": "9ca1d006-4a90-4f88-b9a9-ec7c9bdd395e",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2S28gLTbGZtMGrVK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nairag1",
          "mode": "list",
          "cachedResultName": "n8nairag1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -656,
        -80
      ],
      "id": "58c9d0df-f7cf-425e-8168-3fc93f8701dc",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "V1E9EY8t8r6Bn1VH",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -400,
        176
      ],
      "id": "a0e334a0-1794-40f7-a8e5-5747f44083d8",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -848,
        192
      ],
      "id": "6a7f1fc0-3a5e-44e1-a5cd-bc03666dd634",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "SHEarGwv7dkIR4Az",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "all"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -176,
        -144
      ],
      "id": "de8c2c90-a5e0-4160-b22b-87ce8a489d9b",
      "name": "WhatsApp Trigger",
      "webhookId": "47133c68-464f-4d7a-aa0a-194910037f8a",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "idyHFJ2UtDWSxylU",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "you are asistant of anual report of microsoft 2024.\nGive proper and in details anmswer of a question"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        160,
        -144
      ],
      "id": "3a80d981-7c15-463e-a5ff-fdab812a6c84",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -96,
        160
      ],
      "id": "a9939a65-038f-4981-8397-eafb6fe1a0f6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SHEarGwv7dkIR4Az",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Provide answer of question",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nairag1",
          "mode": "list",
          "cachedResultName": "n8nairag1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        208,
        144
      ],
      "id": "1a764e86-4487-49c5-baa0-404440ac510e",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "V1E9EY8t8r6Bn1VH",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        688,
        304
      ],
      "id": "798e8c74-9156-4ef6-a138-a8c466b839d7",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "SHEarGwv7dkIR4Az",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "729864293553062",
        "recipientPhoneNumber": "923132591503",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        720,
        -144
      ],
      "id": "5359c1e8-8c26-47c9-a1da-1a190fd8fd2f",
      "name": "Send message",
      "webhookId": "66a47301-945c-462d-a580-7022cb7e7fba",
      "credentials": {
        "whatsAppApi": {
          "id": "f8984ZLM1CxAHKWa",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a6de0457-3bdc-431d-9c73-1932ed57cae8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bb0ceab7fbc297a226fe613c559178940e139586397d21b6c58a8715cb9bc743"
  },
  "id": "NZyBF4y9HJt2ig3U",
  "tags": []
}
