4 Invntory Management AI Agents/Inventory Management.json
{
  "name": "Inventory Management",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -816,
        176
      ],
      "id": "07c20258-b09c-4973-980d-4a85abf604c4",
      "name": "WhatsApp Trigger",
      "webhookId": "d7297992-5528-4c56-8a3c-8ca684d5b50f",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "FPYJLqN0W87UjfyH",
          "name": "WhatsApp OAuth account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}{{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        336,
        160
      ],
      "id": "d5b3699d-e357-40fa-ba5a-c46083ad505e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        256,
        480
      ],
      "id": "af59fbd2-2fb8-4811-aa8b-55b1143e4ed4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ivbtyUvUdvggf8lC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PoV5QBUjmUzUHsypfKSOLkKhJHPgtcDL-AXTkcDkYiw",
          "mode": "list",
          "cachedResultName": "mobileinventorymanagmentn8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PoV5QBUjmUzUHsypfKSOLkKhJHPgtcDL-AXTkcDkYiw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PoV5QBUjmUzUHsypfKSOLkKhJHPgtcDL-AXTkcDkYiw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        464,
        464
      ],
      "id": "fd149a4a-c5ac-4c53-a133-1165992d4e6a",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "87uQYAgfa4T36wqQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1PoV5QBUjmUzUHsypfKSOLkKhJHPgtcDL-AXTkcDkYiw",
          "mode": "list",
          "cachedResultName": "mobileinventorymanagmentn8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PoV5QBUjmUzUHsypfKSOLkKhJHPgtcDL-AXTkcDkYiw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PoV5QBUjmUzUHsypfKSOLkKhJHPgtcDL-AXTkcDkYiw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Accessories": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Accessories__using_to_match_', ``, 'string') }}",
            "Available": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Available', ``, 'string') }}"
          },
          "matchingColumns": [
            "Accessories"
          ],
          "schema": [
            {
              "id": "Accessories",
              "displayName": "Accessories",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Available",
              "displayName": "Available",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        704,
        480
      ],
      "id": "429efdba-3dd2-43a9-84c4-8f7874b5c216",
      "name": "Append or update row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "87uQYAgfa4T36wqQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "729864293553062",
        "recipientPhoneNumber": "923132591503",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        768,
        160
      ],
      "id": "1b6c1b56-935f-40f6-9a9f-9109dc21d61c",
      "name": "Send message",
      "webhookId": "5c60477b-836d-4bca-b6c5-840bbc122941",
      "credentials": {
        "whatsAppApi": {
          "id": "Zlh4vzOrVXsY160k",
          "name": "WhatsApp account 15"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].text.body }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "be79a11c-d908-481e-883e-33411b71ec23"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8aa915be-aee9-4d67-9dc5-e25cd9001796",
                    "leftValue": "={{ $json.messages[0].audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -496,
        176
      ],
      "id": "8aa12988-b350-4960-81be-a2b5ebf12ef1",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -800,
        464
      ],
      "id": "79f0f071-4a28-4d21-a525-f96e40419bb7",
      "name": "Download URL",
      "webhookId": "6b3ea200-dac0-4804-b997-19a8226f3327",
      "credentials": {
        "whatsAppApi": {
          "id": "Qv8xIopekuRRYTDB",
          "name": "WhatsApp account 16"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        464
      ],
      "id": "bd68d4f0-5e84-43d1-a5bf-63ffb6aaa848",
      "name": "HTTP Download audio",
      "credentials": {
        "httpHeaderAuth": {
          "id": "kgnqVCZgtNo9QPBU",
          "name": "Header Auth account 6"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -80,
        464
      ],
      "id": "e3bd99de-a94f-42e5-b998-4f2f72292822",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "ivbtyUvUdvggf8lC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Whatsap useas a trigger & Switch node used for Splits WhatsApp messages into text or voice.\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 288,
        "width": 768
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -944,
        48
      ],
      "typeVersion": 1,
      "id": "03d2f434-61f3-4002-9fff-ec3e669c4ef4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## WhatsApp node gets the media URL, and HTTP node downloads the voice file and open AI model Converts voice file into text.\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 288,
        "width": 1104,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -944,
        384
      ],
      "typeVersion": 1,
      "id": "b3bb686b-0a33-47ef-8ed5-9cfdf8467324",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## AI Agent analyzes the input and takes action accordingly & whatsap used for sending the message.\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 272,
        "width": 752,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        32
      ],
      "typeVersion": 1,
      "id": "9e698880-53cd-4685-88fb-1bb89797338b",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download URL": {
      "main": [
        [
          {
            "node": "HTTP Download audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Download audio": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2e9919b7-1a31-434d-8aa7-33975fe765bc",
  "meta": {
    "instanceId": "bb0ceab7fbc297a226fe613c559178940e139586397d21b6c58a8715cb9bc743"
  },
  "id": "Btcl4gdK8fOD5a5Q",
  "tags": []
}